absl-py==2.1.0
attrs==24.1.0
cattrs==23.2.3
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
fastf1==3.4.0
fonttools==4.53.1
h5py==3.11.0
idna==3.7
joblib==1.4.2
keras==3.4.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.9.0
mdurl==0.1.2
ml-dtypes==0.4.0
namex==0.0.8
numpy==2.0.1
optree==0.12.1
packaging==24.1
pandas==2.2.2
pillow==10.4.0
platformdirs==4.2.2
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
rapidfuzz==3.9.5
requests==2.32.3
requests-cache==1.2.1
rich==13.7.1
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
threadpoolctl==3.5.0
timple==0.1.8
typing_extensions==4.12.2
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.2
websockets==12.0
